# History files
.Rhistory
.Rapp.history
E/
E_zip
zipdir
unzipdir
# Example code in package build process
*-Ex.R
.DS_Store
# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user
